


<nav>
    <link rel="stylesheet" href="/css/style.css"> <!-- Lien vers le fichier CSS pour la barre de navigation -->
    <ul>
        <li><a href="/apropos">À propos</a></li> <!-- Lien vers la page À propos -->
        <li><a href="/programmetv">Programme TV</a></li> <!-- Lien vers la page Programme TV -->
    </ul>
</nav>