


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
    <h2>Réinitialisation du mot de passe</h2>
    <form action="/renitialisation" method="POST">
        <label for="email">Entrez votre email :</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Envoyer le lien</button>
    </form>


    <p>Si vous avez un problème, contactez-nous à <a href="mailto:support@tonsite.com">support@tonsite.com</a>.</p>
</body>
</html>
