




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO</title>
    <link rel="stylesheet" href="/css/video.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>

     <h1>Des exemple video pour bien illustre mes programme tv</h1>
   

    <p>clique sur  <a href="https://www.youtube.com/watch?v=cThcPkc8b4c" target="_blank"> chigoma </a> pour rentre directe sur la video d'un exemple de chigoma
        </p>
        <p>clique sur  <a href="https://www.youtube.com/watch?v=GsKt9kon8GE" target="_blank"> debat </a> pour rentre directe sur la video d'un exemple de chigoma
        </p>
        <p>clique sur  <a href="https://www.youtube.com/watch?v=bzMsZLV_trM" target="_blank"> chant </a> pour rentre directe sur la video d'un exemple de chigoma
        </p>
        <p>clique sur  <a href="https://www.youtube.com/watch?v=y7n8dZV1CF0&t=39s" target="_blank"> mbiwi </a> pour rentre directe sur la video d'un exemple de chigoma
        </p>
        <p>clique sur  <a href="https://www.youtube.com/watch?v=vD5CoJw9zn0" target="_blank"> manzarak </a> pour rentre directe sur la video d'un exemple de chigoma
        </p>

</body>
</html>